﻿<script id="appTemplate" type="template">
    <div class="main-content">
        <section class="app-header-container"></section>
        <section class="job-list-container"></section>
    </div>
</script>

<script id="jobListTemplate" type="template">
    <% if (jobs.length > 0) { %>
        <table class="job-list table table-condensed table-striped table-bordered">
            <thead>
                <tr>
                    <th class="job-title">Title</th>
                    <th class="job-description">Description</th>
                    <th class="row-action"></th>
                </tr>
            </thead>

            <tbody>
                <% _.each(jobs, function(job) { %>
                    <%= itemTemplate(job) %>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <div class="alert alert-info alert-block">
            <h4>Get started posting some jobs!</h4>
        </div>
    <% } %>
</script>

<script id="jobListItemTemplate" type="template">
    <tr class="job-list-item">
        <td><%= Title %></td>
        <td><%= Description %></td>
        <td>
            <section class="action-button-group">
                <a href="#" class="edit-action btn btn-mini" data-job-id="<%= Id %>" title="Edit Job"><i class="icon-edit"></i></a>
                <a href="#" class="delete-action btn btn-mini btn-danger" data-job-id="<%= Id %>" title="Delete Job"><i class="icon-remove"></i></a>
            </section>
        </td>
    </tr>
</script>

<script id="jobActionsPanelTemplate" type="template">
    <div class="app-header">
        <h1><%= headerText %></h1>
        <section class="job-actions">
            <a href="#" class="new-job btn btn-primary"><i class="icon-plus icon-white"></i> New Job</a>
        </section>
    </div>
</script>

<script id="companyDropDownListTemplate" type="template">
    <section class="job-actions">
        <select class="company-list">
            <% _.each(company, function(company) { %>
                <option value="<%= company.Id %>"><%= company.Name %></option>
            <% }) %>
        </select>
    </section>
</script>

<script id="jobFormTemplate" type="template">
    <form>
        <div class="form-message"></div>
        <fieldset>
            <input type="hidden" id="jobId" name="Id" value="<%= Id %>" />
            <label for="title">Title</label>
            <input type="text" id="title" name="Title" class="three-quarter-width" value="<%= Title %>" />

            <label for="description">Description</label>
            <textarea type="text" id="description" name="Description" class="three-quarter-width"><%= Description %></textarea>    

            <br />
            <button type="submit" class="job-form-save btn">Save</button>
        </fieldset>
    </form>
</script>   