﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
</head>
<body>
    <div class="page-wrapper">
        
    </div>
    
    <div class="modal hide fade">          
          <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <div class="modal-body-content"></div>
          </div>
    </div>

    @RenderBody()

    @Styles.Render("~/content/bootstrap.css") 
    @Styles.Render("~/content/site.css")    

    @Scripts.Render("~/scripts/jquery-1.7.1.js")    
    @Scripts.Render("~/scripts/underscore.js")
    @Scripts.Render("~/scripts/bootstrap.js")
    @Scripts.Render("~/scripts/backbone.min.js")
    @Scripts.Render("~/scripts/models.js")
    @Scripts.Render("~/scripts/views.js")
    @Scripts.Render("~/scripts/views/JobListView.js")
        
    @Scripts.Render("~/scripts/collections.js")
    @Scripts.Render("~/scripts/main-backbone.js")
</body>
</html>
