﻿.page-wrapper {
    width: 65%;
    margin: 0 auto;
}

.three-quarter-width {
    width: 75%;
}

.job-actions .new-job {
    margin-bottom: 20px;
}

.job-list {
    width: 100%;
}
.job-list .job-title {
    width: 30%;
}
.job-list .row-action        {
    width: 15%;
}